@import "../../.cache/hellwal/waybar-colors.css";

@define-color main-color @color13;


* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font, monospace";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    border-radius: 15px;
    background: alpha(@background, 0.1);
}

tooltip {
    background: alpha(@background, 0.3);
    border-radius: 10px;
    border: 2px solid alpha(lighter(@main-color), 0.3);
}

tooltip label {
  color: @foreground;
}

workspaces {
  background: transparent;
  border-radius: 10px;
}

#workspaces button {
    padding: 5px;
    color: alpha(@foreground, 0.3);
}

#workspaces button.active {
    color: lighter(@main-color);
    transition: color 0.5s;
}

#workspaces button.focused {
    color: @color5;
    background: transparent;
}

#workspaces button.urgent {
    color: @color5;
    background: transparent;
}

#workspaces button:hover {
    background: transparent;
    color: @color5;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#workspaces,
#backlight {
    padding: 0px 14px 0px 14px;
}

#workspaces {
    background: transparent;
    border-radius: 10px;
}

#window {
    margin-left: 60px;
    margin-right: 60px;
    background: alpha(@background, 0.3);
    border-radius: 10px;
    color: lighter(@main-color);
}

#clock {
    color: lighter(@main-color);
    background: transparent;
    border-radius: 10px;
}

#network {
    color: lighter(@main-color);
    background: transparent;
}

#bluetooth {
    color: lighter(@main-color);
    background: alpha(@background, 0.3);
} 

#pulseaudio {
    color: lighter(@main-color);
    background: transparent;
}

#pulseaudio.microphone {
    color: #a6adc8;
}

#battery {
    color: lighter(@main-color);
    background: transparent;
    border-radius: 10px;
}

#backlight {
    color: lighter(@main-color);
    background: transparent;
}
